* {
    animation: fadeIn 2s ease;
}

body{

    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: #2c3e50;
    overflow-x: hidden;
}
.social{
    list-style-type: none;
}

.header {
    text-align: center;
    line-height: 2rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.heading {
    margin-bottom: 2rem;
}

.col {
    text-align: center;
}

.sectionButtons {
    margin-top: 40px;
}

.article {
    margin: 0;
    background-color: rgb(139, 131, 131);
}

.jumbotron{ 
    background-color: #2c3e50;
    color: #ecf0f1;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
}

.learnbuildachieve a{
    margin-top: 20px;
    display: inline-block;
    min-width: 100px;
    min-height: 50px;
    border-radius: 20px;
    padding: 20px;
    background-color: blue;
    transition: all .5s ease;
}

.learnbuildachieve a:hover {
    transform: scale(1.05);
    background-color: #0da4d6;
}

.article {
    background-color: #2980b9;
    color: white;
    padding: 50px;
    text-align: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.article h2 {
    font-size: 4rem;
    margin-bottom: 40px;
}

.article p {
    padding: 50px 100px;
    font-size: 1.5rem;
    text-align: justify;
}
@media (max-width:600px) {
    .article h2 {
        font-size: 2rem;
        margin-bottom: 40px;
    }
    .article p {
        padding: 50px 20px;
        font-size: 1.2rem;
        text-align: justify;
    }
}

@keyframes fadeIn {
    from{opacity: 0.2;}
    to{opacity:1;}
}

.lightSlider li{
    border-image-width: auto;
}